{% extends "base.twig" %}

{% block content %}


<header id="hero" style="background-image: url({{ hederimage }})">
	<div class="container py-5">
		<div class="row">

			<div class="col-xl-6 col-lg-7">

				<h1>{{ post.meta('hero-title') }}</h1>

				<div class="lead my-4 ms-4">{{ post.meta('hero-lead') }}</div>
				<div class="d-flex flex-column flex-sm-row ms-4">
					<a href="{{ post.meta('btn-1').url }}" class="btn btn-primary">{{ post.meta('btn-1').title }}</a>
					<a href="{{ post.meta('btn-2').url }}" class="btn btn-link">{{ post.meta('btn-1').title }} <i class="fas fa-arrow-right"></i></a>
				</div>

			</div>

		</div>
	</div>
</header>

<div class="container my-7">
	<div class="row g-5 align-items-center">
		<div class="col-lg">
			<img class="img-fluid" src="{{ Image(post.meta('featured-img')).src }}" alt="{{ Image(post.meta('featured-img')).title }}">
		</div>
		<div class="col-lg">
			<h4 class="h5 fw-normal text-uppercase text-primary">{{ post.meta('featured-tag') }}</h4>
			<h2 class="h2">{{ post.meta('featured-title') }}</h2>
			<div class="ms-4 my-4">{{ post.meta('featured-lead') }}</div>
			<a href="{{ post.meta('featured-btn').url }}" class="p-0 ms-4 btn btn-link">{{ post.meta('featured-btn').title }} <i class="fas fa-arrow-right"></i></a>
		</div>
	</div>
</div>

<div class="container my-5">
	<h4 class="h5 fw-normal text-uppercase text-primary">{{ post.meta('blog-tag') }}</h4>
	<h2 class="h2 mb-5">{{ post.meta('blog-title') }}</h2>
	<div class="row g-5">
		{% for item in posts %}
			{% include 'partial/item.twig' with { item } %}
		{% endfor %}
	</div>
</div>

{% endblock %}