{% extends "base.twig" %}

{% block content %}

<article class="w-article mt-8">

	<header class="container py-5 text-center">
		<h1>{{ post.title }}</h1>
	</header>

	<div class="bg-white text-dark py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					{{ post.content }}
				</div>
			</div>
		</div>
	</div>

	<div class="pt-5 pb-1 container">
		<h2 class="h3 mb-5">Még több <a href="{{ post.category.link }}" class="text-decoration-underline">{{ post.category }}</a></h2>
		<div class="row g-5">
			{% for item in related %}
			<div class="col-lg-4 col-sm-6">
				<a href="{{ item.link }}">
					<div class="ratio ratio-16x9 bg-cover mb-4" style="background-image: url({{ item.thumbnail.src }})"></div>
				</a>
				<h2 class="h4"><a class="text-reset" href="{{ item.link }}">{{ item.title }}</a></h2>
			</div>
			{% endfor %}
		</div>
	</div>

</article>

{% endblock %}