<footer id="footer" class="bg-darken pt-5 mt-5">

    <div class="container text-center py-6 text-white py-5">

        <h3>{{ options.title }}</h3>
        <p>{{ options.subtitle }}</p>
        <a href="{{ options.btn.url }}" class="btn btn-lg btn-primary my-4">{{ options.btn.title }}</a>
        <p>
            vagy <br>
            <span class="fw-bold">{{ options.email }}</span>
        </p>
    </div>

    <div class="container border-top">
        <div class="opacity-50 text-white py-4">
            <p class="small text-center m-0">{{ options.copyright }} Készítette <a class="text-body" href="https://weart.hu">weart.hu</a></p>
            <ul class="small nav justify-content-center">
                {% for item in menuFooter.get_items %}
                    <li class="nav-item {% if item.current %}active{% endif %}">
                        <a class="nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</footer>